/*
 *
 */

body{
	background-color: #333;
	color: #EEE;
}

h1{
	background-color: #BBF;
	color: #000;
	
}

a:link { color: #AAF; }
a:visited { color: #FAF; }
a:hover { color: #AAF; }
a:active { color: #FAA; }
