body{
    background-color: rgb(0, 0, 0);
    color: rgb(222,222,222);
}

#app {
    margin-right: auto;
    margin-left: auto;
    width: 97%;
    min-width: 700px;
    border: solid;

}

#game_container{
    display: flex;
}

#game_container_2{
    display: flex;
}

#canvas_container{
    margin: 10px
}
#my_canvas {

}
