body{
    background-color: rgb(0, 0, 0);
    color: rgb(222,222,222);
}
html, body{
    height:100%;
}

#app {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 90%;
    min-width: 600px;
    min-height: 500px;
    border: solid;
}

#game_container{
    height: 100%;
}
#battle_screen{
    width: 100%;
    height: 100%;
}
#battle_top{
    display: flex;
    width: 100%;
    height:50%;
    justify-content: space-around;
}

#monster_side{
    width: 30%;

}
#monster_hp_container{
}
#monster_attack{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
#middle_info{
    width: 30%;

}
#player_side{
    width: 30%;
    display: flex;
}
#battle_middle{
    height:5%;
}
/* 下側 */
#battle_bottom{
    display: flex;
    height: 45%;
}

#grave_container{
    width:10%
}
.card_container{
    width:20%
}
#deck_container{
    width:10%
}

#game_container{
    display: flex;
}
