body {
    background-color: #222;
    color: #DDD;
}

#app {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 10px;
    /* border: solid; */
    border-color: #000;
    font-size: 35px;
    font-weight: normal;
    font-family: monospace;
}

#left_container {
    float: left;
}

#score_text_container {
    height: 80px;
}

#b2b_text_container {
    height: 40px;
}
#clear_text_container {
    height: 80px;
}
#combo_text_container {
    height: 80px;
}

#hold_mino {
    width: 160px;
    height: 200px;
}

#field {
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
    height: 1100px;
    border: solid;
    border-color: #999;

    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(22, 50px);

    float: left;
}

#right_container {
    float: left;
}

#next_mino {
    float: left;
    width: 160px;
    height: 700px;
}

.field_row {
    display: flex;
}

.non_field_cell {
    width: 38px;
    height: 38px;
    border: solid 1px;
    border-color: #222;
    float: left;

}

.field_cell {
    width: 48px;
    height: 48px;
    border: solid 1px;
    border-color: #444;
    /* float: left; */
}

#debug_log_container {
    float: none;
}

.cell_shadow_J {
    background-color: #11a;
}

.cell_shadow_L {
    background-color: #720;
}

.cell_shadow_S {
    background-color: #050;
}

.cell_shadow_Z {
    background-color: #611;
}

.cell_shadow_T {
    background-color: #505;
}

.cell_shadow_I {
    background-color: #066;
}

.cell_shadow_O {
    background-color: #660;
}

.cell_none {
    background-color: black;
}

.cell_J {
    background-color: #33e;
}

.cell_L {
    background-color: #f90;
}

.cell_S {
    background-color: #0c0;
}

.cell_Z {
    background-color: #c33;
}

.cell_T {
    background-color: #909;
}

.cell_I {
    background-color: #3dd;
}

.cell_O {
    background-color: #cc3;
}



a:link {
    color: #00E;
}

a:visited {
    color: #00E;
}