body{
    background-color: rgb(0, 0, 0);
    color: rgb(222,222,222);
}

#app {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-width: 300px;
    border: solid;

}

.tenhou{
    color: rgb(222,55,55)
}
#app_name_container{
    margin: 20px
}
#app_name{
    font-size: 20px
}
#game_container{
    display: flex;
}
#canvas_container{
    margin: 10px
}
#control_panel{
}
#my_canvas {

}

button{
    padding: 5px;
}
li {
    display: block;
    margin: 10px;
}
