#app {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    min-height: 600px;
    width: 90%;
    min-width: 300px;
    border: solid;
    font-size: large;
    padding: 10px;
}
input[type=checkbox] {
    transform: scale(2);
    margin: 0 6px 0 0;
}
ul#worker_list {
  column-count: auto;
  column-width: 250px;
}
li{
    margin: 3px;
}
li:nth-child(even){
    background: #CFF;
}
button#enter_button{
    padding: 10px 30px;
    font-size: large;
    font-weight: bold;
}
#error_message{
    color: brown;
}
#enter_container{
    margin-left: 30px;
}
table, td, th {
    border: solid 1px;
}
.highlight_worker{
    background: #CFC;
}

a:link{
    color: #00E;
}
a:visited{
    color: #00E;
}