#app {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 640px;
    width: 95%;
    min-width: 500px;
    border: solid;
}

#grid-table{
    border: solid 1px;
    border-collapse: collapse;
}

.grid-cell {
    width: 80px;
    height: 80px;
    border: solid 1px;
}

.sub-cell {
    padding: 10px;
    border: solid 1px;
}


.sub-cell-horizontal {
    background-color : #FCC;
}
.sub-cell-vertical {
    background-color : #CFC;
}
.sub-cell-corner {
    background-color : #CCF;
}
